.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main Section Layouts */
section {
  padding: 8rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  section {
    padding: 4rem 1.5rem;
  }
}
